<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement OR ContentDelivery OR Processing OR Reporting">
    <experienceProfile>
      <providers>
        <contactSearchProvider type="Sitecore.Support.Cintel.ContactSearchProvider, Sitecore.Support.228418" singleInstance="true" patch:instead="contactSearchProvider"/>
      </providers>
    </experienceProfile>
  </sitecore>
</configuration>